body{
  background-color: #577BC1;
}

.container1{
  /* height: 50%;
  width: 65%; */

  background-color: #9C19E0;
  justify-content: center;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
  align-items: center;

  font-family: 'Montserrat', sans-serif;


}

h1{
  padding: 5% 2%;
  text-align: center;
}

.image-container{


  width: 100%;
  height: 100%;
  opacity: 0.6;


}

.text-container{
  color: #fff;
  justify-content: center;
  align-items: center;
}

.row-text{
  text-align: center;
  padding: 5% 9%;
}

#p1{
  padding: 4% 15%;
  text-align: center;
  float: left;
}

#p2{


}

#insights{
  color: #000D6B;
}
